# Data Analysis: Bike Share Data
## Chris Turner - Aug 30, 2018

In [1]:
import csv
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
st = pd.read_csv('./assets/cycle-share-dataset/station.csv')
tr = pd.read_csv('./assets/cycle-share-dataset/trip.csv', error_bad_lines=False)
we = pd.read_csv('./assets/cycle-share-dataset/weather.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

## 1. What is the average trip duration for a borrowed bicycle?

In [3]:
tr.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [4]:
trip_mean = tr.tripduration.mean()

### 1178.2956753399776
##  2. What’s the most common age of a bicycle-sharer?

In [5]:
mode_year = tr.birthyear.mode()
current_year = dt.date.today().year
age = current_year - mode_year

### 31

## 3. Given all the weather data here, find the average precipitation per month, and the median precipitation

In [40]:
# we = pd.read_csv('./assets/cycle-share-dataset/weather.csv')
we.Date = pd.to_datetime(we.Date)
# we.stoptime = pd.to_datetime(we.stoptime)

# we[['DAY''DAY']]  ==  we.Date.applyapply((we.datetimedatetim.isoweekday)
we['Day_of_week'] = we.Date.dt.weekday_name
we['Month'] = we.Date.dt.month
we['Year'] = we.Date.dt.year

In [39]:
print('mean per month:')
print(we.groupby('Month')['Precipitation_In'].mean())

print('median:')
print(we.groupby('Month')['Precipitation_In'].mean().median())

mean per month:
Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64
median:
0.09744086021505376

## 4. What’s the average number of bikes at a given bike station?

In [33]:
st.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [32]:
st['install_dockcount'].mean()

17.586206896551722

### 17.586206896551722

## 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

### Not enough information.  The current dockcount and istall dockcount do not work in that way.

## Come up with 3 more questions that can be answered with this data set.

## 1. Compair the average rain per month against average rides per month, is there a corellation? 


## 2. What is the busiest bike share month, least busy? 


## 3. What is the peek bike share ride time of day?